@import "library/leaflet/leaflet.css";

@import "library/d3.slider/d3.slider.css";

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map-and-controls {
    position: fixed;
    height: 100%;
    width: 50%;
}

#controls {
    width: 100%;
    height: 100px;
}

.slider {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#map {
    float: left;
    height: 90%;
    width: 100%;
}

#chart-holder {
    height: 100%;
    float: right;
    width: 50%;
}

.bargroup .background {
    opacity: 0;
}

.bargroup .rect, .bargroup .median {
    fill: navy;
    opacity: 0.4;
    stroke: black;
    stroke-width: 1;
}

.bargroup .median {
    stroke: black;
}

/* Transition classes */

.bargroup.destination .rect, .bargroup.destination .label {
    fill: green;
    opacity: 1;
    transition-duration: 0.25s;
}

.bargroup.nulldata .rect, .bargroup.nulldata .label {
    fill: firebrick;
    opacity: 0.1;
    transition-duration: 0.25s;
}

.bargroup.highlighted .rect, .bargroup.highlighted .label {
    fill: darkorange;
    transition-duration: 0.1s;
}

.bargroup.expanded .rect, .bargroup.expanded .label, .bargroup.expanded .median {
    opacity: 1;
}

.bargroup.notexpanded .rect, .bargroup.notexpanded .label, .bargroup.notexpanded .median {
    opacity: 0.1;
    transition-duration: 0.25s;
}

.bargroup.expanded .background {
    opacity: 1;
    fill: gainsboro;
    stroke-width: 0;
    transition-duration: 0.25s;
}

.y.axis.suppressed {
    opacity: 0.1;
    transition-duration: 0.25s;
}