@import "library/leaflet/leaflet.css";

@import "library/d3.slider/d3.slider.css";

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map-and-controls {
    position: fixed;
    height: 100%;
    width: 50%;
}

#controls {
    width: 100%;
    height: 100px;
}

.slider {
    width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#map {
    float: left;
    height: 90%;
    width: 100%;
}

#chart-holder {
    height: 100%;
    float: right;
    width: 50%;
}

.bargroup .background {
    visibility: hidden;
    pointer-events: none;
}

.bargroup .rect {
    fill: navy;
    opacity: 0.4;
}

/* Transition classes */

.bargroup.expanded .rect {
    opacity: 1;
}

.bargroup.notexpanded .rect, .bargroup.notexpanded .label {
    opacity: 0.1;
}

.bargroup.expanded .background {
    visibility: visible;
    pointer-events: all;
    fill: gainsboro;
    stroke-width: 0;
}

.y.axis.suppressed {
    opacity: 0.1;
}

.bargroup.highlighted .rect, .bargroup.highlighted .label {
    fill: darkorange;
    opacity: 1;
}

.bargroup.destination .rect, .bargroup.destination .label {
    fill: green;
    opacity: 1;
}
